

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
    box-sizing: border-box;
}

body{
   
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    margin: 10;
    min-height: 100vh;

}

.mobile-container{
    
    display: flex;
    flex-direction: column;
    position: relative;
    width:400px;
    height:900px;
    border:1px solid black ;

}
header{
    position: relative;
    top:250px;
    margin-bottom:20px;
}

input{
    position: relative;
    top:230px;
    margin-bottom:20px;
    margin:20px;
    padding:15px;
    border-radius:5px;
    background-color:
}
