
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap'); */
*{
    box-sizing: border-box;
}

body{
   
    display: flex;
    position:relative;
   
    font-family:'Nunito', sans-serif;
    /* font-family: 'Yusei Magic', sans-serif; */
  
    background-color: white;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    width:429px;
    height:1024px;
    border: 1px solid black;

}

.border{
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid black;
    width:350px;
    margin:15px;
    text-align: center;
    align-items: center;


}


.border img #header-img{
    display: flex;
    position: relative;
    

}


input{
    display: flex;
    position: relative;
    margin-top: 50px;
    width:100%;
    height:50px;
    border-radius: 0.35rem;
    text-align: center;
    align-items: center;
    background-color: rgb(89, 183, 73);    
    font-size: 16px;
    border:none;
    font-weight: 100;
    color:rgb(255, 255, 255);
}

::placeholder{
    color:rgb(255, 255, 255);
    font-size:16px;
    font-weight: 100;
    
}
#small
{
    color: rgb(237,55 , 58);
    font-family: "Nunito",sans-serif;
    font-weight:800;
}

button{
    display: flex;
    position: relative;
    border-radius: 0.25rem;
    padding: 10px 25px;   
    margin-top:40px;
    font-size: 20px;
    text-decoration: none;
    color:white;
    
    
    
}
.btn-next{
    display:flex;
    position: relative;
    
}

#next{
    display: flex;
    position: relative;
    background-color: rgb(89,183, 73);
    color: white;
    text-decoration: none;
    padding:5px 25px;    
    letter-spacing: 1px;
    border: none;
    right:-126px
    

}

#entercod-btn-next{
    display: flex;
    position: relative;
    background-color: rgb(89,183, 73);
    color: white;
    text-decoration: none;
    padding:5px 25px;    
    letter-spacing: 1px;
    border: none;

}

#resend, #cancel {
    display: flex;
    position: relative;
    background-color: rgb(247,154,33);
    color: white;
    text-decoration: none;
    padding:5px 10px;    
    letter-spacing: 1px;
    border-color: rgb(253, 151, 39);
    margin-right:150px;
      

}
#download-platform{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 50px;
    left:-105px;

    

}

a{
    color:white;
    text-decoration: none;
    letter-spacing: 1px;

}
img{
    margin-bottom: 10px;
}

.entercode-input{
    display: flex;
    position: relative;
    width:80%;
    margin-top:0;
}

p{
    color: rgb(171, 180, 189);
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    margin-top:20px;
    margin-bottom:0;
}
.code-time{
    color: rgb(237,55 , 58);
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight:bold;
    margin-top:5px;
    margin-bottom:0;
}


.form-label {
    display: flex;
    flex-direction: column;
    position:relative;
    width:100%;

   
}

label{
    display: flex;
    position: relative;
    font-weight: 800;
    width:100%;
    margin-top: 16px;
    
}

input.name,
input.email,
input.birthday,
input.gender{
    display: flex;
    position: relative;    
    margin-top:0;
    margin-bottom:15px;
    
    
}

select{
    display: flex;
    position: relative;
    width:100%;
    background-color: rgb(89, 183, 73);
    border-radius: .35rem;
    font-size: 18px;
    height:50px;
    color: rgb(255, 255, 255);
    
    

}
option{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}


.add-btn{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
#add-img{
    display: flex;
    position: relative;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
    background-color:silver;
    border-radius: 50%;
    border: none;
    color: rgb(89, 183, 73);

}
#add-img a{
    color: rgb(89, 183, 73);
    font-weight: 800;
    font-size: 35px;

}

input.username{
    display: flex;
    position: relative;
    margin-bottom:0px;
}
input.password{
    display: flex;
    position: relative;
    margin-top:10px;
}


.username::placeholder,
.password::placeholder{
    display: flex;
    position: relative;
    left:-100px;
    font-size: 18px;    
    letter-spacing: -0.23px;
}
#completedetail-done{
    background-color:rgb(89, 183, 73);
    border:none;
}

#completedetail-done a{
    background-color: rgb(89, 183, 73);
    letter-spacing: -0.23px;
}
/*  ---------------header-----------
#h1{
    display: flex;
    position: relative;
    font-size: 60px;
    margin-bottom: 15px;


}

#s{
    color:rgb(255, 136, 0);
}
#t{
    color:rgb(42, 189, 13);
}
#i{
    color:red;
} */